body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #241B25;
    background-color: #241B25;
}
.row .col-md-11 {
    height: 700px;
    background: #241B25;
}

h1 {
    color: #b6b3b6;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 45px;
}

.fixed-menu {
    width: 90px;
    background-color: #3E374C;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.menu {
    list-style: none;
    
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    position: relative;
    height: 70px;
    padding: 40px 10px 0 10px;
}

.menu li span {
    vertical-align: bottom;
}

hr {
    border-top: 2px solid #000;
}
.menu li:nth-child(6) {
    margin-top: 10px
}

.menu li a:before {
    position: absolute;
    top: 0;
    left: 0;
    text-align:center;
    width: 100%;
    font-size: 32px;
}

.menu-search:before {  
    font-family: "FontAwesome";
    content:"\f002";
}

.menu-review:before {
    font-family: "FontAwesome";
    content:"\f0ac";
}

.menu-catalog:before {
    font-family: "FontAwesome";
    content:"\f07b";
}

.menu li:nth-child(3):hover .menu-catalog:before,
.menu li:nth-child(3) .active:before
{
    font-family: "FontAwesome";
    content:"\f07c";
}

.menu-sale:before {
    font-family: "FontAwesome";
    content:"\f02c";
}

.menu-about:before {
    font-family: "FontAwesome";
    content:"\f11a";
}

.menu-enter:before {
    font-family: "FontAwesome";
    content:"\f007";
}

.menu-basket:before {
    font-family: "FontAwesome";
    content:"\f07a";
}

.menu ul,
.sub-menu ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
.menu ul a {
    color: #95a3a4;
    font-family: "Roboto",sans-serif;
    font-size: 15px; 
}

.menu li a.active:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  background-color: #7d1f1b;
  top: 50%;
  margin-top: -22px;
  height: 43px;
  width: 3px;
}

.menu a.active,
.menu li:hover a,
.sub-menu li.active a,
.sub-menu li:hover a
{
    color: #fff;
    text-decoration: none;
}

.sub-menu li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 41px;
    padding: 10px 0;   
}

.sub-menu  a {
    display: inline-block;
    color: #95a3a4;
    font-family: "Roboto";
    font-size: 17px;
    text-decoration: none;
}

.sub-menu ul {
    border-bottom: 1px solid #958d95;
}
.sub-menu li.active {
    color: #fff;
    border-bottom:  4px solid #7d1f1b; 
}

#gridSystemModal {
    color: #000;
}

.rememb-pass {
    margin-right: 40px;
}

.user-enter {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#gridSystemModalLabel {
    font-weight: bold;
    font-size: 20px;
}

.outer {
    width: 335px;
    padding-right: 25px;
    border-right: 1px solid #ccc;
}

.social {
    text-align: center;
    font-size: 64px;
}

.social a {
    padding: 0;
    color: #3E374C;
}

.social a:hover {
    color: #3E3780;
}

.modal-footer {
    text-align: left;
}
.modal-content {
    background-color: #ebe7df;
}
.modal-dialog {
  margin: 155px auto;
}

.mybtn {
    background-color: #3E374C;
    border-radius: 8px;
}
.mybtn:hover {
    background-color: #241b25;
    color: #fff;
}